{% extends "layout.html" %}
{% block body %}


{% for garden in gardens %}
<p>
    Garden ID: {{ garden.id }}
    <br>
    Address: {{ garden.address }}
    <br>
    Plant IDs:
   
    {% for entry in pla_gar %}
        {% if entry.garden_id == garden.id %}
            <p>
            {{ entry.plant_id }}
            
            {% if entry.plant_id == plant.id %}
                <p>
                {{ plant.com_name }}
                <br>
                {{ plant.sci_name }}
                </p>
            {% endif %}
            </p>
            <form action="{{ url_for('remove_from_garden', id=entry.id) }}">
                <button type="Submit">
                    Remove Plant from Garden
                </button>
            </form>
        {% endif %}
    {% endfor %}
</p>

<form action="{{ url_for('delete_garden', id=garden.id) }}">
    <button type="Submit">
        Delete Garden
    </button>
</form>
<form action="{{ url_for('update_garden', id=garden.id) }}">
    <button type="Submit">
        Update Address
    </button>
</form>
<br>
{% endfor %}

<br>
<form action="{{ url_for('garden_add') }}">
    <button type="Submit">
        Add Garden
    </button>
</form>

{% endblock body %}