{% extends "layout.html" %}
{% block body %}


{% for garden in gardens %}
<p>
    Garden ID: {{ garden.id }}
    <br>
    Address: {{ garden.address }}
    <br>
    {% for pla_gar in pla_gars %}

        <p> Plants: {{ pla_gar.plant_id }} </p>
        
    {% endfor %}
</p>
<form action="{{ url_for('delete_garden', id=garden.id) }}">
    <button type="Submit">
        Delete Garden
    </button>
</form>
<form action="{{ url_for('update_garden', id=garden.id) }}">
    <button type="Submit">
        Update Address
    </button>
</form>

{% endfor %}
<br>
<form action="{{ url_for('garden_add') }}">
    <button type="Submit">
        Add Garden
    </button>
</form>

{% endblock body %}